$blue: #17153B;
$gray: #2E236C;

$body-bg: #f1faee;

$primary:      #17153B !default;
$secondary:    #2E236C !default;
$info:         #433D8B !default;
$warning:      #C8ACD6 !default;
$light:        #FFFFFF !default;